body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC74E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question-container{
  color: #ffffff;
}
.question-container h2{
  font-size: 
}

button {
  cursor: pointer;
  padding: 16px 40px;
  background-color: #FFA732;
  font-size: 24px;
  line-height: 24px;
  border:none;
  border-radius: 6px;
  box-shadow: 0 6px 0px rgba(0, 0, 0, .2);
  color: #ffffff;
  transition: all 0.3s;
  font-weight: bold;
}

button:hover{
  background-color: rgb(255, 152, 16);
  box-shadow: 0 6px 0px rgba(0, 0, 0, .3);
}

.hidden{
  display: none;
}